html,body{
    background-color:#272727;
    padding:0;
    margin:0;
}
#container{         /*Container*/
    width:100vw;
    height:auto;
}
    #nav{        /*Inside NAV*/
        width:98vw;
        height:auto;
        padding:1vw;
        background-color:#202020;
        border-bottom:1px solid #000;
        float:left;
    }
        #name{
            color:#fff;
            font-family:'Dongle', sans-serif;
            font-size:4vw;
            width:19.6vw;
            height:3vw;
            text-align:center;
            line-height:3.6vw;
            float:left;
        }
        #menu-buttons{
            width:75vw;
            height:3vw;
            float:right;
            margin-right:2vw;
            border-left:1px solid #000;
        }
        .buttons{
            width:12vw;
            height:3vw;
            margin-left:5.75vw;
            float:left;
            color:#fff;
            font-size:1.5vw;
            text-align:center;
            border-radius:1vw;
            border:1px solid #000;
            background-color:rgb(46, 46, 46);
            font-family:'Noto Sans', sans-serif;
            display:flex;
            align-items:center;
            justify-content:center;
        }